---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es-CL">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>benjamonsh</title>
	</head>
	<body>
		<Header />
		<main class="px-[60px]">
			<section class="py-12 flex flex-col gap-7">
				<div class="flex flex-col gap-1">
					<h1 class="font-medium text-4xl">¡Hola! Soy Benjamín,</h1>
					<h2 class="font-black text-6xl">
						Desarrollo web y de apps móviles para hacer <span
							class="text-blue-500">crecer</span
						> tu negocio 🚀
					</h2>
					<p class="font-medium text-lg text-[#333333]">
						Creo soluciones digitales que impulsan tu negocio y te ayudan a
						destacar.
					</p>
				</div>
				<div class="flex flex-row gap-3.5">
					<a
						href="/contacto"
						class="flex items-center gap-1 font-medium bg-[#000000] text-white px-7 py-2 rounded-xl text-lg text-center"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="icon icon-tabler icons-tabler-outline icon-tabler-bubble-text"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
								d="M7 10h10"></path><path d="M9 14h5"></path><path
								d="M12.4 3a5.34 5.34 0 0 1 4.906 3.239a5.333 5.333 0 0 1 -1.195 10.6a4.26 4.26 0 0 1 -5.28 1.863l-3.831 2.298v-3.134a2.668 2.668 0 0 1 -1.795 -3.773a4.8 4.8 0 0 1 2.908 -8.933a5.33 5.33 0 0 1 4.287 -2.16"
							></path>
						</svg>
						Habla conmigo</a
					>
					<div class="flex flex-row gap-3.5">
						<a
							href="/contacto"
							class="flex items-center gap-1 font-medium bg-white text-black px-7 py-2 rounded-xl text-lg border border-[#CCC] text-center"
						>
							Ver proyectos</a
						>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
