<header
  class="py-[30px] px-[60px] flex flex-row items-center justify-between w-full"
>
  <a href="/">
    <h1 class="font-black text-3xl">
      benjamonsh<span class="nanum-pen">.tech</span>
    </h1>
  </a>
  <nav>
    <ul class="flex flex-row gap-8">
      <li><a href="/blog" class="font-medium text-base">Blog</a></li>
      <li><a href="/proyectos" class="font-medium text-base">Proyectos</a></li>
      <li>
        <a
          href="/contacto"
          class="font-medium text-base text-white bg-blue-800 px-4 py-2 rounded-lg"
          >¡Quiero un sitio web!</a>
      </li>
    </ul>
  </nav>
</header>
